.mask {
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
  mask-image: linear-gradient(to top transparent 25%, black 75%);
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 100px;
}

.movie-detail {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 50px;
  color: rgb(255, 255, 255);
}

.wrapper img {
  border: 5px solid white;
}

.content-wrapper {
  margin-left: 30px;
  width: 300px;
}
.title-rating {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  gap: 30px;
}

.title-rating h2 {
  text-shadow: 1px 1px black;
  margin: 0;
}

.title-rating h3 {
  color: black;
  background-color: white;
  padding: 5px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .wrapper img {
    width: 40%;
  }
  .wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }

  .title-rating {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 768px) {
  .wrapper {
    align-items: center;
    padding-top: 0px;
  }

  .title-rating {
    display: flex;
    flex-wrap: wrap;
  }
}
